/* RESET */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

main {
    background-color: #7fffd4;
    flex-grow: 1;
    display: flex;
}

footer {
    padding: 1rem;
}

.board {
    height: 500px;
    width: 500px;
    display: flex;
    align-content: flex-start;
    margin: auto;
    flex-wrap: wrap;
}

.board-cell-hard {
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 1px solid black;
}

.board-cell-medium {
    width: calc(100% / 9);
    height: calc(100% / 9);
    border: 1px solid black;
}

.board-cell-easy {
    width: calc(100% / 7);
    height: calc(100% / 7);
    border: 1px solid black;
}

.clicked {
    background-color: lightskyblue;
}